<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>StrongLoop Suite Sample Application</title>

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/code.css">
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">StrongLoop Suite Sample Application</a>
            </div>
        </div>
        <div class="row">
            <!-- Nav goes here -->

            <div class="col-lg-9 col-lg-offset-3 column" data-spy="scroll" data-target=".scroll-spy-target" data-offset="0">
              <div class="readability">
                <h2 id="sample-requests">Sample Requests</h2>
                <p>Click on the friendly GET buttons below to try out a few example requests!</p>

                <!-- Each API call goes in here -->


                <div class="intentionally-left-blank"></div>
              </div>
            </div>
        </div>
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery-scrollTo.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
