<div class="col-lg-3 hide-mobile column scroll-spy-target">
  <ul class="nav nav-pills nav-stacked">
    <li class="depth-1"><a href="#welcome">Welcome</a></li>
    <li class="depth-2"><a href="#sample-requests">Sample Requests</a></li>
    <li class="depth-3"><a href="#route-weapons">GET /api/weapons</a></li>
    <li class="depth-3"><a href="#route-weapons-2">GET /api/weapons/2</a></li>
    <li class="depth-3"><a href="#route-weapons-filter">GET /api/weapons?filter</a></li>
    <li class="depth-3"><a href="#route-locations">GET /api/locations</a></li>
    <li class="depth-3"><a href="#route-locations-nearby">GET /api/locations/nearby</a></li>
    <li class="depth-3"><a href="#route-locations-inventory">GET /api/locations/:id/inventory</a></li>
    <li class="depth-2"><a href="#next-steps">Next Steps</a></li>
    <li class="depth-3"><a href="#api-explorer">API Explorer</a></li>
    <li class="depth-3"><a href="#cyoa">Choose Your Own Adventure</a></li>
  </ul>
</div>